body {
    font-family: $basefont;
    background-color: $basecolor;
}

header {
    h1 {
        @include box;
        
    }
}

nav {
    background-color: white;

    ul {
        list-style: none;

        a {
            text-decoration: none;
            color: black;
            text-transform: uppercase;
            text-align: center;
        }
        a:hover{
            color: white;
            background-color: $accentcolor;
        }
    }

}

main {
    background-color: $accentcolor;
    margin: 3em;
}

#one, #two, #three {
    margin: 3em;
}