.grid-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
        "title title title"
        "nav nav nav"
        "main main main"
        "one two three";
}

nav {
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}

//phone
@media screen and (max-width: 320px) {
    .grid-container {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;

        grid-template-areas:
            "title"
            "nav"
            "main"
            "one"
            "two"
            "three";
    }
}

//tablet
@media screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 1fr 1fr;

        grid-template-areas:
            "title title"
            "nav nav"
            "main main"
            "one one"
            "two two"
            "three three";
    }
}

header {
    grid-area: title;
}

nav {
    grid-area: nav;

}

main {
    grid-area: main;
}

#one {
    grid-area: one;
}
#two {
    grid-area: two;
}
#three {
    grid-area: three;
}
